a:link { font-family: cambria; font-size: 16px; color: #000; text-decoration: none;}
a:active {font-family: Cambria; font-size: 16px; color: #999; text-decoration: none;}
a:visited { font-family: Cambria; font-size: 16px; color: #000; text-decoration: none;}
a:hover { font-family: Cambria; font-size: 16px; color: #999; text-decoration: none;}

a.logout:link { font-family: inherit; font-size: 12px; font-weight: bold; color: #fff; text-decoration: none;}
a.logout:active {font-family: inherit; font-size: 12px; font-weight: bold; color: #cc0000; text-decoration: none;}
a.logout:visited { font-family: inherit; font-size: 12px; font-weight: bold; color: #fff; text-decoration: none;}
a.logout:hover { font-family: inherit; font-size: 12px; font-weight: bold; color: #cc0000; text-decoration: none;}

a.vit:link { font-family: Arial; font-size: 12px; color: #fff; text-decoration: none;}
a.vit:active {font-family: Arial; font-size: 12px; color: #efefef; text-decoration: none;}
a.vit:visited { font-family: Arial; font-size: 12px; color: #fff; text-decoration: none;}
a.vit:hover { font-family: Arial; font-size: 12px; color: #efefef; text-decoration: none;}

a.news_link:link { font-family: inherit; font-size: 11px; font-weight: bold; color: #fff; text-decoration: none;}
a.news_link:active {font-family: inherit; font-size: 11px; font-weight: bold; color: #fff; text-decoration: none;}
a.news_link:visited { font-family: inherit; font-size: 11px; font-weight: bold; color: #fff; text-decoration: none;}
a.news_link:hover { font-family: inherit; font-size: 11px; font-weight: bold; color: #fff; text-decoration: none;}


h1 { font-family: Arial, Verdana, Tahoma; font-weight: normal; color: #333; font-size: 28px; padding-top: 10px; margin: 0px; line-height: 20px;}
.h1_blogg { font-family: Tunga; text-decoration: cursive; font-weight: bold; color: #555; font-size: 34px; padding-top: 20px; margin: 0px; line-height: 20px;}
.h2_style { font-family: Tunga; color: #555; font-size: 23px; padding-top: 3px; margin: 0px; line-height: 26px;}
h2 { font-family: Arial, Verdana, Tahoma; font-weight: normal; color: #c74444; font-size: 20px;  margin: 0px; line-height: 20px;}
h3 { font-family: Tunga, Arial, Verdana, Tahoma; font-weight: normal; color: #555; font-size: 20px; padding-top: 20px; margin: 0px; line-height: 20px;}




html, body {
	height: 100%; 
	margin: 0; 
	padding: 0px;
	background: url(../images/fadebg.gif) #f4f4f4;
	background-repeat: repeat-x;
	font-family: Arial, Tahoma, Verdana;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}


#wrap {min-height: 100%; width: 100%;}

.addthis_text {
	font-size: 16px;
	color:#333;
}

.background_start {
	background: url(../images/startbild_bg.jpg);
	background-repeat: no-repeat;
	width: 900px;
	height: 280px;
	padding: 30px;
	color:#fff;
	font-family: "Lao UI";
	line-height: 25px;
	font-size: 17px;
}
#r {
	background: url(../images/post.png);
	background-repeat: no-repeat; background-position:left top;
	
}

.box_content_error {
	width: 418px;                                                                                                                          
	background: #fff                                                                    ;
	font-weight: bold;              
	padding: 20px;	
	border-left: 1px solid #666;              
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	overflow: follow;
}

.box_rubrik_error {
	color: #ff0000;
	font-weight: bold;
}



.contentbox_error {
	border-top:solid 1px #cc0000; 
	border-left:solid 1px #cc0000; 
	border-right:solid 1px #cc0000; 
	background: #f6cbca;
	color:#cc0000;
	padding:4px;
}

.contentbox_error_innehall {
	background: #f6cbca;
	font-weight: bold;
	padding: 5px;	
	padding-left: 20px;
	padding-bottom: 10px;
	font-size: 10px;
	border-left: 1px solid #cc0000;
	border-right: 1px solid #cc0000;
	border-bottom: 1px solid #cc0000;
	overflow: hidden;
}

.contentbox_sent {
	border:solid 1px #669933; 
	background: #eef4d4;
	color:#669933;
	padding:10px;
	width: 400px;
}

.content_imagestart {
	float: left;
	width: 370px;

}

.content_copy {
	clear: both;
	padding-top: 20px;
	font-size: 14px;
	border-top: 1px dashed #ccc;
	color:#666;
}

.content_textstart {
	float: left;
	width: 560px;
}

#content_top {
	color:#666;
	padding-bottom: 10px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}

#content_main {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	min-height:260px;
	color:#333;
	font-size: 16px;
	line-height: 20px;
	font-family: Ebrima;
	padding-top: 5px;
	background: url(../images/content_top_bg1.png);
	background-repeat: repeat-x;
}
.show_back{
    background: url(../images/submit.png);
	background-repeat:no-repeat;
	padding:5px;
}
#content_slider {
	width:800px;
	margin-left: auto;
	margin-right: auto;
}

.form_dropdown {
	width: 470px;
	border: 1px solid #ccc;
	height: 40px;
	font-size: 17px;
	padding: 8px;
	color:#666;
}

.form_normal {
	width: 400px;
	border: 1px solid #ccc;
	height: 20px;
	font-size: 17px;
	padding: 8px;
}

.form_normal_dropdown {
	width: 450px;
	border: 1px solid #ccc;
	height: 20px;
	font-size: 17px;
	height: 22px;
}

.form_normal_textarea {
	width: 450px;
	border: 1px solid #ccc;
	height: 80px;
	padding: 8px;
	color:#666;
	font-size: 17px;
}


.form_snabb {
	width: 100%;
	border: 1px solid #ccc;
	height: 24px;
	font-size: 18px;
	color:#666;
}


#form_snabb_area {
	font-size: 12px;
	color:#666;
}

.form_snabb_submit {
	border: 0px;
	float: right;
}

.form_snabb_textarea {
	width: 100%;
	border: 1px solid #ccc;
	height: 60px;
	font-size: 18px;
	color:#666;
}

#huvud {
	height: 10px;
	padding-top: 2px;
	width: 100%;
	max-width:100%;
	background: url(../images/header_bg.gif) #000;
	background-repeat: repeat-x;
}


#huvud_content {
	margin-left: auto;
	margin-right: auto;
	width: 860px;
}

#huvud_content_left {
	color:#fff;
	padding-top: 2px;
	font-family: "Segoe Print";
	font-size: 11px;
	float: left;
}

#huvud_content_right {
	font-family: "Segoe Print";
	font-size: 11px;
	color:#fff;
	float: right;
	padding-top: 2px;
}

#huvud_content_meny {
	float: right;
	padding-top: 35px;
}

#huvud_gastbok {
	float: left;
	height: 64px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
    left: 50%;
	margin-left: 340px;
	margin-top: 135px;
	color:#fff;
}

#main {

	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.nyheter_lista {
	background:url(../images/content_top_bg.png);
	background-repeat: repeat-x;
	padding-top: 30px;
}

.referens {
	border-bottom: 1px solid #ccc;
	clear: both;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
}

.referens_image {
	float: right;
	padding-left: 30px;
	margin-left: 30px;
	padding-top: 10px;
}

.refimage_start {
	padding: 10px; border: 1px solid #ccc; background:#fff;
}

.referens_img {
	border: 1px solid #ccc;
	padding: 5px;
	background:#fff;
}


.rubrik_vit {
	color:#fff;
	font-size: 22px;
}

.sida_innehall {
	border-bottom: 1px solid #e4e4e4;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial, Verdana, Tahoma;
}
.sida_hogerplacerad {
	float: right;
}

.tjanster_meny {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	background: url(../images/right.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 24px;
}


/* ### REFERENSBILDER ### */

/*------------------POPUPS------------------------*/
#fade {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none;
	background: #fff;
	padding: 20px; 	
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
img.btn_close {
	float: right; 
	margin: -55px -55px 0 0;
}
.popup p {
	padding: 5px 10px;
	margin: 5px 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}


/* ### INFOBXOAR JQUERY ### */
.container {
	width: 860px;
	margin: 0 auto;
}
h1 span { color: #666; }
h1 small{
	font: 0.3em normal Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	letter-spacing: 0.5em;
	display: block;
	color: #666;
}
 
h2.acc_trigger {
	padding: 0;	margin: 0 0 5px 0;
	background: url(../images/h2_trigger_a.gif) no-repeat;
	height: 46px;	line-height: 46px;
	width: 860px;
	font-size: 2em;
	font-weight: normal;
	float: left;
	font-family: Arial, Verdana, Tahoma;
}
h2.acc_trigger a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0 0 0 50px;
	font-family: Arial, Verdana, Tahoma;
	font-size: 14px;
}
h2.acc_trigger a:hover {
	color: #ccc;
}
h2.active {background-position: left bottom;}
.acc_container {
	margin: 0 0 5px; padding: 0;
	overflow: hidden;
	font-size: 1.2em;
	width: 860px;
	clear: both;
	background: #f0f0f0;
	border: 1px solid #d6d6d6;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px; 
}
.acc_container .block {
	padding: 20px;
	font-size: 16px;
	line-height: 20px;
	font-family: Ebrima;
}
.acc_container .block p {
	padding: 5px 0;
	margin: 5px 0;
}
.acc_container h3 {
	font-family: Tunga, Arial, Verdana, Tahoma; font-weight: normal; color: #555; font-size: 34px; padding-top: 20px; margin: 0px; line-height: 20px;
	margin: 0 0 10px;
	padding: 0 0 5px 0;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ccc;
}
.acc_container img {
	float: left;
	margin: 10px 15px 15px 0;
	padding: 5px;
	background: #fff;
	border: 1px solid #ccc;
}




/* CSS MENY */
#menu{
width: 100%;
font-weight: bold;
height: 55px;
font-size: 90%;
background: url(../images/nav_bg.png);
background-position: top left;
background-repeat: repeat-y;
}

#menu:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

#menu ul{
width: 100%;
padding: 0px;
margin: 0;
text-align: left;
padding-top: 17px;
}

#menu ul li{
display: inline;
background: url(../images/blackbg_separator.png);
background-position: top right;
background-repeat: repeat-y;
padding-bottom: 20px;
padding-top: 18px;
}

#menu ul li a{
color: #fff;
padding: 10px;
margin: 0;
text-decoration: none;
font-family: "Arial Unicode MS", arial, verdana, tahoma;
font-weight: normal;
font-size: 13px;
color:#dfdfdf;
}

#menu ul li a:hover{
color:#fff;
}


/* RUNDADE HÖRN */
div.infobox  { 	
	float: left;
	width: 437px; 	
	padding: 10px; 
	background: #ECF9F9;
	font-family: Arial, Verdana, Tahoma; 
	border: 1px solid #dfdfc7;
}

div.infobox_main  { 	
	padding: 10px; 
	background: #f8f8ec;
	font-family: Arial, Verdana, Tahoma; 
	border: 1px solid #dfdfc7;
	float: left;
	width: 940px; 
	background:#fff; 
	border: 1px solid #ccc; 
}

#infobox_center {
	width: 940px; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 15px; 
	margin-bottom: 15px;
}

div.infobox, div.infobox_main, div.inner { font-family: Arial, Verdana, Tahoma; font-size: 14px;}



/* ### DATUMVÄLJARE ### */
input.date {
	float: left;
}
.dateButton {
	display: block;
	float: left;

	width: 40px;
	height: 40px;

	background-image: url("../images/calendar.png");
	background-repeat: no-repeat;

	margin-left: 5px;
	position: relative;
	bottom: 3px;
}
.clearButton {
	clear: both;
}
.dateButton span {
	display: none;
}
#dateContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #000;
	margin-bottom: 20px;
}
#dateTable .weekday {
	font-weight: bold;
}
#dateTable td {
	border: 1px solid #ccc;
	text-align: center;
}
#dateTable td.hover {
	background-color: #ccc;
	cursor: pointer;
}
#dateTable td.prevCell {
	border: 0;
	text-align: left;
}
#dateTable td.nextCell {
	text-align: right;
	border: 0;
}
#message{ color:red; font-weight:bold; font-size:14px;
background-image: url("../images/flash.jpg");
background-repeat: no-repeat;
padding-left:35px;
height:40px;
}
#message1{ color:green; font-weight:bold; font-size:14px;
background-image: url("../images/flash.jpg");
background-repeat: no-repeat;
padding-left:35px;
height:40px;
}
.box{ color:green; font-weight:bold; font-size:14px;
background-image: url("../images/inbox.jpg");
background-repeat: no-repeat;
padding-left:35px;
height:50px;
}

.markcolor{ color:red}
.msg{ color:red}
.t1 {
	background: url(../images/inbox.jpg) no-repeat;
	height:30px;
	width:100px;
	
}
#org-logo {
    float:left;
	background: url(../images/no_logo.gif) no-repeat;
	height:160px;
	width:160px;
	
}
